@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

html {
	background: #fff;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: #ffc;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	background-color: transparent;
	color: #212121;
	margin: 0;
	padding: 0;
	width: 100%;
}

* {
	box-sizing: border-box;
}